apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: 842303506852.dkr.ecr.eu-west-1.amazonaws.com/cloud-native-sample-app:71172494686df2fd08f3d3355ff0cb256de91725
          ports:
            - containerPort: 3000
