name: CI - Build & Push + Update GitOps

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: self-hosted

    env:
      AWS_REGION: eu-west-1
      AWS_ACCOUNT_ID: 842303506852

      ECR_REPO_APP: 842303506852.dkr.ecr.eu-west-1.amazonaws.com/cloud-native-sample-app
      ECR_REPO_WRITER: 842303506852.dkr.ecr.eu-west-1.amazonaws.com/cloud-native-mongo-writer

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin \
            $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Set IMAGE TAG
        id: tag
        run: |
          TAG=$(echo $GITHUB_SHA | cut -c1-7)
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "Using TAG=$TAG"

      # ======================================================
      # Build & Push Voting App
      # ======================================================
      - name: Build & Push Sample App Image
        run: |
          docker build -t $ECR_REPO_APP:$TAG ./app
          docker push $ECR_REPO_APP:$TAG

      # ======================================================
      # Build & Push Mongo Writer
      # ======================================================
      - name: Build & Push Mongo Writer Image
        run: |
          docker build -t $ECR_REPO_WRITER:$TAG ./mongo-writer
          docker push $ECR_REPO_WRITER:$TAG

      # ======================================================
      # Update GitOps manifests with new TAG
      # ======================================================
      - name: Update GitOps Images Tags Automatically
        run: |
          echo "Updating GitOps manifests with TAG=$TAG"

          sed -i "s|image: .*cloud-native-sample-app:.*|image: $ECR_REPO_APP:$TAG|g" gitops/nonprod/sample-app/deployment.yaml
          sed -i "s|image: .*cloud-native-mongo-writer:.*|image: $ECR_REPO_WRITER:$TAG|g" gitops/nonprod/sample-app/mongo-writer-deployment.yaml

          echo "Done updating GitOps files."

      # ======================================================
      # Commit & Push GitOps updates
      # ======================================================
      - name: Commit & Push GitOps Updates
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add gitops/nonprod/sample-app/deployment.yaml
          git add gitops/nonprod/sample-app/mongo-writer-deployment.yaml

          git commit -m "Auto update images tags to $TAG" || echo "No changes to commit"

          git pull origin main --rebase
          git push origin main

