name: CI - Build Push + Update GitOps

on:
  workflow_dispatch:

env:
  AWS_REGION: eu-west-1
  AWS_ACCOUNT_ID: 842303506852
  ECR_SAMPLE: cloud-native-sample-app
  ECR_WRITER: cloud-native-mongo-writer

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password | docker login \
            --username AWS \
            --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Set TAG
        run: echo "TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Build & Push Sample App
        run: |
          docker build -t $ECR_SAMPLE:$TAG ./app
          docker tag $ECR_SAMPLE:$TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_SAMPLE:$TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_SAMPLE:$TAG

      - name: Build & Push Mongo Writer
        run: |
          docker build -t $ECR_WRITER:$TAG ./mongo-writer
          docker tag $ECR_WRITER:$TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_WRITER:$TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_WRITER:$TAG

      - name: Update GitOps images tags
        run: |
          sed -i "s/newTag:.*/newTag: $TAG/" gitops/nonprod/sample-app/kustomization.yaml

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add gitops/nonprod/sample-app/kustomization.yaml
          git commit -m "chore: update images to $TAG"
          git push origin main
