name: CI - Build Push + Update GitOps (Manual)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: nonprod
        type: choice
        options:
          - nonprod

jobs:
  build-and-push:
    runs-on: self-hosted

    env:
      AWS_REGION: eu-west-1
      AWS_ACCOUNT_ID: 842303506852
      ECR_REPO_APP: cloud-native-sample-app
      ECR_REPO_WRITER: cloud-native-mongo-writer

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | \
          docker login --username AWS --password-stdin \
          $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Build & Push Sample App Image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}

          docker build -t $ECR_REPO_APP:$IMAGE_TAG ./app
          docker tag $ECR_REPO_APP:$IMAGE_TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:$IMAGE_TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:$IMAGE_TAG

      - name: Build & Push Mongo Writer Image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}

          docker build -t $ECR_REPO_WRITER:$IMAGE_TAG ./mongo-writer
          docker tag $ECR_REPO_WRITER:$IMAGE_TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:$IMAGE_TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:$IMAGE_TAG

      - name: Update GitOps Manifests Automatically
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          ENVIRONMENT=${{ github.event.inputs.environment }}

          echo "Updating GitOps manifests for env: $ENVIRONMENT"
          echo "Using tag: $IMAGE_TAG"

          sed -i "s|image: $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:.*|image: $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:$IMAGE_TAG|g" gitops/$ENVIRONMENT/sample-app/deployment.yaml

          sed -i "s|image: $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:.*|image: $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:$IMAGE_TAG|g" gitops/$ENVIRONMENT/sample-app/mongo-writer-deployment.yaml

          echo "================= Updated Images ================="
          grep "image:" gitops/$ENVIRONMENT/sample-app/deployment.yaml
          grep "image:" gitops/$ENVIRONMENT/sample-app/mongo-writer-deployment.yaml

      - name: Commit & Push GitOps Updates
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          ENVIRONMENT=${{ github.event.inputs.environment }}

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add gitops/$ENVIRONMENT/sample-app/deployment.yaml
          git add gitops/$ENVIRONMENT/sample-app/mongo-writer-deployment.yaml

          git commit -m "Update GitOps images to $IMAGE_TAG ($ENVIRONMENT)" || echo "No changes to commit"

          git push origin main
