name: CI - Build Push + Update GitOps

on:
  workflow_dispatch:

jobs:
  build-and-push:
    name: build-and-push
    runs-on: self-hosted

    env:
      AWS_REGION: eu-west-1
      AWS_ACCOUNT_ID: 842303506852

      ECR_REPO_APP: cloud-native-sample-app
      ECR_REPO_WRITER: cloud-native-mongo-writer

      GITOPS_PATH: gitops/nonprod/sample-app/kustomization.yaml

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Set IMAGE TAG
        id: tag
        run: |
          TAG=$(echo $GITHUB_SHA | cut -c1-7)
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "Using TAG=$TAG"

      # ==========================================================
      # Build & Push Sample App
      # ==========================================================
      - name: Build & Push Sample App Image
        run: |
          docker build -t $ECR_REPO_APP:$TAG ./apps/sample-app
          docker tag $ECR_REPO_APP:$TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:$TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_APP:$TAG

      # ==========================================================
      # Build & Push Mongo Writer
      # ==========================================================
      - name: Build & Push Mongo Writer Image
        run: |
          docker build -t $ECR_REPO_WRITER:$TAG ./apps/mongo-writer
          docker tag $ECR_REPO_WRITER:$TAG $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:$TAG
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO_WRITER:$TAG

      # ==========================================================
      # Update GitOps Manifests Automatically
      # ==========================================================
      - name: Update GitOps Images Tags Automatically
        run: |
          echo "Updating GitOps file: $GITOPS_PATH"

          sed -i "s/newTag: REPLACE_TAG/newTag: $TAG/g" $GITOPS_PATH

          echo "GitOps file updated:"
          cat $GITOPS_PATH

      # ==========================================================
      # Commit & Push GitOps Updates
      # ==========================================================
      - name: Commit & Push GitOps Updates
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add $GITOPS_PATH

          git commit -m "Auto update images tags to $TAG" || echo "No changes to commit"

          git pull origin main --rebase
          git push origin main
